BOT_TOKEN=

DATABASE_URL=postgres://dating:dating@localhost:5432/dating_bot

REDIS_URL=redis://localhost:6379

RABBITMQ_URL=amqp://dating:dating@localhost:5672/

S3_ENDPOINT=http://localhost:9000
S3_BUCKET=user-photos
S3_ACCESS_KEY=minio
S3_SECRET_KEY=miniosecret

METRICS_HTTP_PORT=9100

